body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #b1b1b8;
	color: #333;
	position: relative;
	background-image: url('background.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.container {
	max-width: 900px;
	margin: 20px auto;
	padding: 20px;
	background: #f9f9f9e6;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

header {
	text-align: center;
	margin-bottom: 20px;
}

header h1 {
	margin: 0;
	font-size: 24px;
	color: #d51919;
}

.info-section, .upload-section, .files-section {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 6px;
	background: #f9f9f9;
}

.info-section h2, .upload-section h2, .files-section h2 {
	margin-top: 0;
}

.info-section form, .upload-section form {
	display: flex;
	align-items: center;
	gap: 10px;
}

.info-section input[type="file"], .upload-section input[type="file"] {
	flex-grow: 1;
}

.info-section button, .upload-section button {
	padding: 10px 10px;
	border: none;
	border-radius: 6px;
	background-color: #28a745;
	color: #fff;
	cursor: pointer;
}

.info-section button:hover, .upload-section button:hover {
	opacity: 0.9;
}

.files-section ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.file-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.file-name {
	flex: 1;
	font-weight: bold;
	margin-right: 20px;
	word-wrap: break-word;
}

.files-section li {
	display: flexbox;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #fff;
}

.files-section li:last-child {
	margin-bottom: 0;
}

.files-section .file-actions {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	margin-top: 10px;
}

.files-section button {
	padding: 5px 10px;
	border: none;
	border-radius: 6px;
	background-color: #28a745;
	color: #fff;
	cursor: pointer;
}

.files-section button.delete {
	background-color: #dc3545;
	margin-right: 10px;
}

.files-section button:hover {
	opacity: 0.9;
}

.ftp-link-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 5px;
	margin-top: 20px;
	align-items: center;
}

.ftp-link {
	display: block;
	font-size: 14px;
	word-wrap: break-word;
	flex-grow: 1;
}

.copy-btn:focus {
	outline: none;
}

#notification-container {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1000;
}

.notification {
	margin-bottom: 10px;
	padding: 10px 20px;
	border-radius: 4px;
	background-color: #007bff;
	color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	animation: fadeOut 4s forwards;
}

.notification.error {
	background-color: #dc3545;
}

.notification.success {
	background-color: #28a745;
}

.search-box {
	padding: 8px 12px;
	font-size: 14px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	width: 200px;
	transition: border-color 0.3s ease;
	margin-bottom: 10px;
}

.search-box:focus {
	border-color: #007bff;
}

.file-header .search-box {
	margin-left: 15px;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}

.file-list-container {
	height: 400px;
	overflow-y: auto;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #f9f9f9;
}
